#rec {
  left: 55%;
  background-color: rgb(5, 190, 134);
  width: 450px;
  height: 450px;
  position: absolute;
  margin-top: 18%;
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 5);
}
#reco_title {
  color: aliceblue;
}
#rr {
  width: 200;
  height: 200;
  border-radius: 20px;
  margin-left: 100px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 5);
}
